input[type = checkbox] {
    margin-right: 10px;
}

.mymodal {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.mymodal-inner {
    position: absolute;
    width: 30%;
    height: 26%;
    top: 31%;
    left: 34%;
    background-color: white;
    border: 1px solid grey;
}

.rezultSuccess{
    color:green;
}
.rezultWrong{
    color:red;
}
.buttonExit{
    margin-top: 12%;
    width: 100px;
}