* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
}
body {
    width: 944.2px;
    margin: 0 auto;
    min-height: 100%;
    font-family: Arial;
}
.wrapper {
    width: 96.2%;
    min-width: 300px;
    min-height: 100%;
    margin: 1.5% 1% 0 4.80%;
    background: #fff;
    position: relative;
    z-index: 2;
}
/* Header*/
.header {
    background: #fff;
    margin: -0.69% 0 -0.1% 0;
}
.blue_round{
    border-radius: 100px;
    background: linear-gradient(to bottom right, #103d62, #3a7893);
    margin: 1.1% 0 0 0.7%;
    display: inline-block;
    height: 20px;
}
.phone{
    display: inline-block;
    margin: 1.1% 1.2% 0 -0.1%;
    vertical-align: top;
    letter-spacing: 0.15px;
    font-size: 14pt;
    color: #103d62;
    height: 30px;
}
.avtorize{
    display: inline-block;
    font-family: 'Lucida Sans Unicode', arial;
    background: linear-gradient(to top, #103d62, #3a7893);
    width: 54.7%;
    border-radius: 3px;
    box-shadow: 5px 5px 6px -3px rgba(171,173,174,1);
    font-size: 8pt;
    margin-bottom: 0.9%;
}
.avtorize a{
    vertical-align: 39%;
}
.underline{
    color: #bfbfbf;
    margin-left: 3.3%;
    font-size: 9pt;
}
.inp{
    width: 22.3%;
    height: 17px;
    margin: 1% 1% 1.5% 0.56%;
    border-radius: 1.5px;
    border: none;
    vertical-align: 70%;
    font-size: 8pt;
    letter-spacing: 0.4px;
}
.not_underline{
    text-decoration: none;
    color: white;
}
.line{
    border-left: 1px solid #fff;
}
.buttons{
    display: inline-block;
    border: 1px solid #103d62;
    border-radius: 50px;
    box-shadow: 5px 5px 6px -3px rgba(171,173,174,1);
    padding: 0.1% 1.79% 0.1% 0.91%;
    margin: -11% 0 0 1.3%;
    vertical-align: 34%;
}
.avt_icon{
    padding: 1.1% 0 0% 1.3%;
}
.bg{
    width: 100%;
}
/*menu*/
.menu{
    background: linear-gradient(to top, #000, #505860);
    box-shadow: 5px 5px 6px -3px rgb(20, 23, 24);
    padding: 0.6% 0 0.6% 0;
    margin:0.3% 0 0 0;
    width: 100.25%;
    border-radius: 5px;
    font-size: 10pt;
}
.m_list{
    display: inline-block;
    width: 77%;
    float: left;
}
.m {
    display: inline-block;
    background: transparent;
    border-radius: 20px;
    padding: 0.7% 2.2% 0.65% 2.2%;
    margin-left: 18.74%;
    letter-spacing: 0.4px;
}
.m1{
    display: inline-block;
    margin-left: 0.12%;
    background: transparent;
    border-radius: 20px;
    padding: 0.7% 2.2% 0.65% 2%;
    letter-spacing: 0.153px;
}
.m2{
    display: inline-block;
    margin-left: -0.14%;
    background: transparent;
    border-radius: 20px;
    padding: 0.7% 2.2% 0.65% 2%;
    letter-spacing: 0.153px;
}
.m3 {
    display: inline-block;
    margin-left: -0.55%;
    background: transparent;
    border-radius: 20px;
    padding: 0.7% 2.2% 0.65% 2%;
    letter-spacing: 0.153px;
}
.m4{
    display: inline-block;
    margin-left: -1.2%;
    background: transparent;
    border-radius: 20px;
    padding: 0.7% 2.2% 0.65% 2%;
    letter-spacing: 0.153px;
}
.m:hover {
    background: linear-gradient(to top, #09233b, #25617b);
}
.m1:hover{
    background: linear-gradient(to top, #09233b, #25617b);
}
.m2:hover{
    background: linear-gradient(to top, #09233b, #25617b);
}
.m3:hover{
    background: linear-gradient(to top, #09233b, #25617b);
}
.m4:hover{
    background: linear-gradient(to top, #09233b, #25617b);
}
.m_text{
    text-decoration: none;
    color: #b1bcc0;
}
.bask{
    display:inline-block;
    margin-left: -1.7%;
    vertical-align: -7px;
    clear: both;
}
.basket{
    display:inline-block;
    text-decoration: none;
    margin: 0 0.5% 0 -1.66%;
}
.count{
    display: inline-block;
    color: #bfbfbf;
    font-size: 8pt;
    vertical-align: 37%;
    margin-left: 1%;
    letter-spacing: 0.5px;
}
.count1{
    display: inline-block;
    color: #bfbfbf;
    font-size: 8pt;
    vertical-align: 37%;
    margin-left: 4.68%;
    letter-spacing: 0.8px;
}
.blue_text{
    display: inline-block;
    color: #0d5a8f;
    font-size: 9pt;
    vertical-align: 27%;
    margin-left: -2.5%;
}
.blue_text1{
    display: inline-block;
    color: #0d5a8f;
    font-size: 9pt;
    vertical-align: 27%;
    margin-left: -4.69%;
}
.f_all{
    clear: both;
    margin: 0.5% -0.5% 0 0.5%;
    width: 100%;
}
.f_left{
    margin: -2% 0 0 -0.2%;
    width: 46.2%;
}
.f_center{
    margin: 0.51% 0 0 0.65%;
    width: 21.8%;
}
/* Middle*/
.middle {
    width: 100%;
    height: 100%;
    padding-bottom: 3.6%;
    position: relative;
}
.middle:after {
    display: table;
    clear: both;
    content: '';
}
.container {
    margin-top: 0.8%;
    width: 57.95%;
    float: left;
    overflow: hidden;
    background: linear-gradient(to top, #94a7b0, #e4e7e8);
    border-radius: 6px;
    padding-bottom: 2.7%;
}
.frm3{
    width: 30%;
}
.wheel{
    width: 59%;
    padding-top: 3%;
}
.wheel1{
    width: 51%;
    margin-left: -4%;
}
.wheel2{
    width: 55%;
    padding-top: 4%;
    margin-left: -4%;
}
/* Left Sidebar*/
.left-sidebar {
    float: left;
    width: 20.94%;
    margin-top: 1.1%;
}
.blue_round1{
    border-radius: 100px;
    background: linear-gradient(to bottom right, #103d62, #3a7893);
    margin: 2.1% 0 0 1.7%;
    padding: 2.9%;
    display: inline-block;
    height: 12px;
    vertical-align: -4px;
    letter-spacing: 25px;
}
/* Right Sidebar*/
.right-sidebar {
    float: right;
    width: 21.08%;
    position: relative;
    z-index: 1;
    margin-top: 1.1%;
}
.t_main{
    margin-left: -1%;
    margin-top: 1%;
    width: 181px;
    height: 27px;
    letter-spacing: 0.75px;
    font-size: 9pt;
    border: 1px solid #8b979c;
    border-radius: 100px;
    color: #114165;
    box-shadow: 6px 6px 24px -9px rgba(196,190,196,1);
 }
.t_main1{
    margin-left: 5%;
    font-size: 10pt;
    border: 1px solid #8b979c;
    border-radius: 100px;
    color: #114165;
    box-shadow: 6px 6px 24px -9px rgba(196,190,196,1);
}
.v_centre{
    vertical-align: 31%;
}
.v_centre1{
    vertical-align: 9%;
    padding-left: 3%;
}
.v_centre2{
    vertical-align: 5%;
    padding-left: 3%;
}
.v_centre3{
    vertical-align: 13%;
    padding-left: 2%;
}
.v_centre4{
    vertical-align: 30%;
    letter-spacing: -0.1px;
}
.v_centre5{
    vertical-align: -8%;
    padding-left: 5%;
}
.v_centre6{
    vertical-align: 1.7%;
    padding-left: 5%;
}
.t_line{
    font-size: 10pt;
    border: 1px solid #8b979c;
    border-radius: 100px;
    color: #114165;
    margin-top: 7%;
    margin-right: 21%;
    height: 26px;
 }
.t_line1{
    font-size: 10pt;
    border: 1px solid #8b979c;
    border-radius: 100px;
    color: #114165;
    margin: 0.9% 21% 0 0.7%;
    height: 26px;
}
.t_line2{
    font-size: 10pt;
    border: 1px solid #8b979c;
    border-radius: 100px;
    color: #114165;
    margin-right:16%;
    margin-left: 12%;
    height: 27px;
}
.l_el{
    margin: 0.9% 0 0 24%;
    font-size: 10pt;
    line-height: 1.5;
    list-style-type: circle;
    color: #114165;
    letter-spacing: 0.4px;
    text-decoration: none;
}
.l_el1{
    margin: 3.4% 0 0 24%;
    font-size: 10pt;
    line-height: 1.5;
    list-style-type: circle;
    color: #114165;
    letter-spacing: 0.4px;
    text-decoration: none;
}
.l_el2{
    margin: 3.6% 0 0 24%;
    font-size: 10pt;
    line-height: 1.5;
    list-style-type: circle;
    color: #114165;
    letter-spacing: 0.4px;
    text-decoration: none;
}
.l_el3{
    margin: 3.4% 0 0 24%;
    font-size: 10pt;
    line-height: 1.5;
    list-style-type: circle;
    color: #114165;
    letter-spacing: 0.4px;
    text-decoration: none;
}
.l_el:hover,
.l_el1:hover,
.l_el2:hover,
.l_el3:hover{
    font-style: italic;
    font-weight: bold;
}
.l_el a,
.l_el1 a,
.l_el2 a,
.l_el3 a{
    color: #114165;
    text-decoration: none;
}
.l_el a:hover,
.l_el1 a:hover,
.l_el2 a:hover,
.l_el3 a:hover{
    text-decoration: underline;
}
.check{
    margin: 0 0 12% 18%;
}
.r_check{
    margin: -8% 0 14% 23.3%;
    font-size: 10pt;
    color: #114165;
    letter-spacing: 0.4px;
}
.r_check1{
    margin: -9.1% 0 14% 23.3%;
    font-size: 10pt;
    color: #114165;
    letter-spacing: 0.4px;
}
.r_check2{
    margin: -8.4% 0 7% 23.4%;
    font-size: 10pt;
    color: #114165;
    letter-spacing: 0.4px;
}
.checkbox{
    height: 11px;
    margin: 1.2% 0 0 -4%;
    border: 6px inset #114165;
    background: #fff;
}
.blue_but{
    color: #fff;
    border-radius: 8px;
    background: linear-gradient(to bottom right, #103d62, #3a7893);
    box-shadow: 5px 5px 6px -3px rgb(20, 23, 24);
    border: transparent;
    padding: 3% 5%;
    margin: 3% 0 0 18.2%;
    font-size: 9pt;
}
/* Footer*/
.imgBeforeFooter{
    padding-bottom: 2.4%;
}
.imgBeforeFooter>ul>li{
    list-style-type: none;
    display: inline;
}
.brand1{
    margin: 0 0 0 12.8%;
    vertical-align: -79.6%;
}
.brand2{
    margin-left: 0.8%;
    vertical-align: -44.5%;
}
.brand3{
    margin-left: 1%;
    vertical-align: -80%;
}
.brand4{
    margin-left: 1.2%;
    vertical-align: -75%;
}
.brand5{
    margin-left: 0.8%;
    vertical-align: -42.5%;
}
.brand6{
    margin-left: 0.9%;
    vertical-align: -91%;
}
.brand7{
    margin-left: 1%;
    vertical-align: -51%;
}
.brand8{
    margin-left: 0.3%;
    vertical-align: -43%;
}
.product{
    text-align:center;
    width: 25%;
    margin: 1.5% 0.8% 6% 5%;
    display: inline-block;
}
.secondLine{
    font-size: 9.5pt;
    margin: -1.2% 0 0 1%;
    letter-spacing: 0.4px;
    color: #1f2528;
}
.secondLine1{
    font-size: 9.5pt;
    margin: -1.2% 0 0 5%;
    letter-spacing: 0.8px;
    color: #1f2528;
}
.secondLine2{
    font-size: 9.5pt;
    margin: -1.2% 0 0 4.8%;
    letter-spacing: 0.9px;
    color: #1f2528;
}
.imgOfProduct{
    background-color: #fff;
    border-radius: 6px;
    border: 0.1px solid #a7b1b3;
    margin: -1.1% -2.1% -5% -1.3%;
}
.imgOfProduct1{
    background-color: #fff;
    border-radius: 6px;
    border: 0.1px solid #a7b1b3;
    margin: -1.1% -3.1% -5% -1.3%;
    padding-top: 4%;
}
.imgOfProduct2{
    background-color: #fff;
    border-radius: 6px;
    border: 0.1px solid #a7b1b3;
    margin: -0.7% -4.1% -7% -1.3%;
}
.footer {
    margin: 0 auto 0 4.8%;
    min-width: 300px;
    height: 97px;
    background: #213a4d;
    position: relative;
    width: 96.2%;
    clear: both;
}
.introText{
    padding: 0.9% 0 0 33.9%;
    letter-spacing: 1px;
 }
.introText>ul>li{
    list-style-type: none;
    display: inline;
    border-left: 1.5px solid #b1bcc0;
}
.introText>ul>li:first-child {
    border:none;
    color:#4fa5c4;
}
.b_text{
    text-decoration: none;
    color: #b1bcc0;
    font-size: 9.5pt;
    letter-spacing: -0.1px;
}
.BlueText{
    color:#4fa5c4;
    letter-spacing: -0.3px;
}
.about{
    margin-right: 1.2%;
}
.delivery{
    padding-left: 2.1%;
    padding-right: 1.1%;
}
.articles{
    padding-left: 2.1%;
    padding-right: 1.3%;
}
.contacts{
    padding-left: 2.83%;
}
.underMenu{
    margin: 1.3% 0 0 41.7%;
    color: #7a4641;
    font-size: 7.4pt;
    letter-spacing: 0.2px;
}
.price{
    font-weight: 900;
    font-style: oblique;
    color: #114165;
    margin: 6% 0 0 3%;
    letter-spacing: -1.1px;
    font-family: Arial;
    padding-left: 2%;
}
.ib{
    font-weight: bold;
    font-style: italic;
    font-size: 10.1pt;
    margin-left: 2%;
}
.titleOfProduct{
    font-weight: bold;
    color:#37748f;
    font-size: 12pt;
    margin-top: 6.4%;
    line-height: 13pt;
    letter-spacing: -0.2px;
}
.titleOfProduct1{
    font-weight: bold;
    color: #37748f;
    font-size: 12pt;
    margin: 6.3% 0 0 3%;
    line-height: 13pt;
    letter-spacing: -0.2px;
}
.titleOfProduct2{
    font-weight: bold;
    color: #37748f;
    font-size: 12pt;
    margin: -20.6% 0 0 6%;
    line-height: 13pt;
    letter-spacing: -0.2px;
}
.lineOfContent{
    margin-bottom: -5.2%;
}
.lineOfContent1{
    margin-bottom: -4.7%;
}
@font-face {
    font-family: 'Lucida Sans Unicode';
    src: url('../fonts/lucida-sans-unicode.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}