@media (min-width: 960px) {
.page_head {
    position: relative;
    overflow: hidden;
    height: 847px;
}
.head2--page_head {
    float: left;
    margin-left: 0;
}
.menu--page_head {
    display: block;
    float: right;
    margin-top: 73px;
    width: 80%;
}
.menu--page_head--dop {
    display: none;
}
.menu__item--page_head {
    float: right;
    margin-right: 0;
    margin-left: 45px;
}
.slider {
    margin-top: 278px;
}
.slider__wrapper {
    max-width: 1555px;
}
.head1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -35px;
    height: 54px;
    font-size: 60px;
}
.head3 {
    font-size: 32px;
    height: 27px;
    padding: 0;
    margin-top: 2px;
    margin-left: -33px;
}
.article--slider {
    padding-top: 83px;
    margin-left: 0.2%;
    width: 58%;
    max-width: 58%;
}
.article__text--slider {
    height: auto;
    font-size: 18px;
    margin-left: -32px;
    margin-top: 11px;
    width: 509px;
    line-height: 1.35;
}
.slider__img {
    margin-right: 35.1px;
    margin-top: -17px;
}
.menu__slider {
    right: 17.3%;
    margin-top: 93px;
}
.info {
    height: 341px;
}
.article--info {
    padding-top: 79px;
    width: 33.33%;
    height: 341px;
}
.article__left--info {
    background: url(../img/source_of_icons.png) -396px -63px no-repeat;
    padding-left: 65px;
    width: 307px;
}
.article__right--info {
    background: url(../img/source_of_icons.png) -462px 74px no-repeat;
    position: relative;
    left: 34px;
    padding-right: 0;
}
.article__center--info {
    background: url(../img/source_of_icons.png) -302px -187px no-repeat;
    margin-left: 319px;
    width: 309px;
    padding-left: 85px;
}
.head4 {
    font-size: 30px;
    letter-spacing: -0.2px;
    margin-bottom: 10px;
}
.article__head {
    margin: -3px 0 11px 67px;
    width: 242px;
}
.article__link {
    margin-top: 20px;
}
.article__link--right {
    margin-right: 18px;
}
.article__text--info {
    height: 120px;
}
.article__link--center {
    margin-right: 2px;
}
.article__link--left {
    margin-right: 27px;
}
.article__left {
    margin-left: 0;
}
.article__left--block_news {
    margin-left: -7px;
    margin-top: 88px;
    width: 479px;
    background: url(../img/article.png) 3px 12px no-repeat;
}
.block_news {
    height: 417px;
    width: 99.4%;
}
.head4--gray {
    display: inline;
}
.article__text--block_news {
    height: auto;
    width: 348px;
}
.head4--gray--small {
    display: block;
    margin-bottom: 20px;
    padding-bottom: 0;
}
.news__link {
    margin-bottom: 14px;
    height: 52px;
    width: 518px;
    padding-left: 38px;
}
.article__text--block_news--bold {
    letter-spacing: 0.8px;
}
.article__text--block_news--line {
    letter-spacing: -0.4px;
    width: 382px;
}
.article__link--block_news {
    display: block;
    margin: 1px 20px 0 0;
    letter-spacing: 0;
}
.article__link--block_news--small {
    display: none;
}
.menu__item--logos:nth-of-type(n+1) {
    margin: 0 32px;
}
.article--comments {
    display: block;
    padding-top: 94px;
}
.menu__news {
    margin-top: 61px;
    margin-left: 26px;
}
.article__right--news {
    width: 50.1%;
    margin: 38px 0 0 0;
    padding: 90px 0 0 28px;
}
.article__left--comments--small {
    display: none;
}
.article__right--comments {
    margin-right: 0;
    padding-left: 12px;
    margin-top: 1px;
}
.article__center--comments--small {
    display: none;
}
.article__text--comments {
    width: 282px;
}
.logos__menu {
    padding: 26px 0 0 0;
    width: 100%;
    float: none;
    text-align: center;
}
.menu__item--logos:nth-of-type(n+1) {
    float: none;
    display: block;
}
.menu__item--logos:nth-of-type(1) {
    position: absolute;
    left: -71px;
}
.menu__item--logos:nth-of-type(2) {
    position: absolute;
    left: 63px;
}
.menu__item--logos:nth-of-type(3) {
    position: absolute;
    left: 199px;
}
.menu__item--logos:nth-of-type(4) {
    position: absolute;
    top: 25px;
    left: 339px;
}
.menu__item--logos:nth-of-type(5) {
    position: absolute;
    top: 25px;
    left: 457px;
}
.menu__item--logos:nth-of-type(6) {
    position: absolute;
    top: 25px;
    left: 626px;
}
.article__left--comments {
    width: 339px;
}
.copyright_text {
    padding: 14px 0 10px 0;
    text-shadow: 0.5px 0.9px 0 white;
    color: #c5c5c5;
    font-family: Georgia;
    font-size: 16px;
    font-style: italic;
}
.head4--comments {
    display: block;
    margin-top: 2px;
    letter-spacing: 0;
}
.ftr {
    height: 112px;
}
.menu--ftr {
    margin:39px 0 0 1px;
    width: auto;
}
.menu__item--ftr {
    float: left;
    margin: 1px 43.3px 0 0;

}
.copyright {
    margin-top: 54px;
    padding: 0;
    margin-right: -3px;
    letter-spacing: 0.1px;
}
footer {
    height: 115px;
    background: url(../img/footer.jpg) 50% 100% no-repeat;
    background-size: cover;
}
}
