@media (min-width: 480px) {
.slider {
    margin-top: 94px;
    height: 241px;
    background: rgba(0, 0, 0, 0.2);
}
.page_head {
    height: 549px;
}
.head2--page_head {
    margin-top: 67px;
}
.menu--page_head--dop {
    top: 135px;
    margin-left: 24.6%;
    margin-bottom: 95px;
    width: 50.3%;
}
.menu__item--page_head {
    height: 40px;
}
.menu__item--last {
    padding-top: 6px;
}
.slider__arrow {
    margin-top: 100px;
}
.slider__wrapper--inner {
    width: 90%;
}
.article--slider {
    float: left;
    margin-left: -11px;
    padding-top: 15%;
    width: 38%;
}
.head3 {
    overflow: hidden;
    height: 24px;
    letter-spacing: 0.1px;
}
.article__center--info {
    padding-top: 64px;
    background-position: -376px -80px;
}
.block_news {
    margin: -7.2% 0 0 0.6%;
    padding-bottom: 7.2%;
}
.article__left--block_news {
    width: 440px;
    overflow-wrap: normal;
    word-wrap: break-word;
    word-break: break-all;
    line-break: auto;
    margin-top: 17.1%;
    margin-left: 18.4%;
    background: url(../img/article.png) 0px 0px no-repeat;
}
.menu__slider {
    position: absolute;
    margin-top: 22px;
}
.article--info {
    padding-right: 18.8%;
    margin-left: 16.5%;
}
.article__left--info {
    padding-top: 77px;
    margin-left: 16.4%;
    background-position: -376px -67px;
}
.article__text--info {
    width: 354px;
    overflow-wrap: normal;
    word-wrap: break-word;
    word-break: break-all;
    line-break: auto;
}
.slider__img {
    float: right;
    display: block;
    margin-top: -148px;
    margin-right: 16.6%;
    width: 191px;
}
.slider__arrow--left {
    margin-left: 15%;
}
.slider__arrow--right {
    margin-right: 15.3%;
}
.article__link {
    margin: 4.8% 2.3% 0 0;
    font-size: 18px;
    letter-spacing: 0.2px;
}
.head4--gray {
    display: inline;
    font-size: 30px;
}
.head4--pink {
    font-size: 30px;
}
.article__link--block_news--small{
    margin:0 33.8% 0 0;
}
.article__head {
    margin: 3% 0 5% 1.2%;
    padding-top: 4%;
}
.menu__item--logos:nth-of-type(n+1) {
    float: none;
    display: block;
    margin-bottom: 26px;
    margin-right: 55px;
}
.menu__item--logos:nth-of-type(1) {
    position: absolute;
    left: 71px;
}
.menu__item--logos:nth-of-type(2) {
    position: absolute;
    left: 216px;
}
.menu__item--logos:nth-of-type(3) {
    position: absolute;
    right: 29px;
}
.menu__item--logos:nth-of-type(4) {
    position: absolute;
    top: 127px;
    left: 77px;
}
.menu__item--logos:nth-of-type(5) {
    position: absolute;
    top: 127px;
    left: 183px;
}
.menu__item--logos:nth-of-type(6) {
    position: absolute;
    top: 127px;
    right: 13px;
}
.article__left--comments {
    display: none;
}
.article__left--comments--small {
    display: block;
    padding-top: 76px;
}
.article__center--comments {
    display: none;
}
.article__center--comments--small {
    display: block;
}
.head4--comments {
    display: block;
    margin: 0 0 2% -0.7%;
    font-size: 24px;
}
.comments {
    display: block;
    height: 668px;
}
.article--comments {
    margin: 0 19%;
    padding-bottom: 7.5%;
}
.menu__news {
    margin-top: 57px;
    margin-left: -23px;
}
.news__link {
    margin-bottom: 17px;
    padding-left: 11.9%;
    width: 326px;
}
.article__right--news {
    margin-left: 27.4%;
}
.article__text--block_news--bold {
        width: 155px;
        height: 24px;
        letter-spacing: 0.9px;
}
.head4--gray--small {
    display: block;
    margin-bottom: 0;
    padding-bottom: 3.4%;
}
.article__text--block_news {
    overflow: hidden;
    line-height: 24px;
    text-shadow: 0.5px 0.9px 0 white;
    color: #454545;
    font-size: 16px;
    width: 330px;
    text-align: left;
    letter-spacing: -0.4px;
}
.article__text--block_news--line {
    width: 82%;
}
.logos {
    height: 232px;
    margin: 0;
}
.logos__menu {
    padding-top: 37px;
    width: 100%;
}
.article__text--comments {
    overflow: hidden;
    height: 97px;
    width: 438px;
    overflow-wrap: normal;
    word-wrap: break-word;
    word-break: break-all;
}
.copyright {
    display: block;
    text-align: center;
    margin-left: -0.2%;
    font-size: 11px;
}
.copyright--bold {
    font-weight: 700;
    letter-spacing: 1px;
}
.menu__item--ftr--last {
    margin-right: 0;
}
.menu--ftr {
    display: block;
    width: 80%;
    margin: 5.7% 5% 27px 19.2%
}
.menu__item--ftr {
    float: left;
    margin-right: 4.4%;
}
}